create or replace function public.handle_new_user()\nreturns trigger as useSupabaseAuth\nbegin\n  insert into public.users (id, email)\n  values (new.id, new.email);\n  return new;\nend;\nuseSupabaseAuth language plpgsql security definer;\n\ncreate trigger on_auth_user_created\nafter insert on auth.users\nfor each row execute procedure public.handle_new_user();
